parameters:
    level: 4
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            path: tests/*

        - '#^Access to an undefined property Illuminate\\Support\\HigherOrderCollectionProxy::\$[a-zA-Z0-9\\_]+.$#'
